.servemain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15vh;
    margin-top: 120px;
}

.servl{
    background-color: #100C34;
    color: white;
    width: 500px;
    height: 400px;
    margin-top: 50px;
    padding-left: 20px;
    text-align: center;
}

span{
    color: #A109FF;
}

#sh1{
    padding-top: 80px;
}