.numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.alphabets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vh;
    color: white;
}

.aboutmain{
    background-color: #100C34;
    height: 250px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 250px;
    position: relative;
    z-index: 0;
    margin-top: -180px;
}

#img{
    position: relative;
    z-index: 1;
    padding-left: 470px;
    margin-top: 120px;
}