.footermain{
    margin-top: 120px;
}

.footerup{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footerdown{
    background-color: #100C34;
    color: white;
    text-align: center;
    height: 40px;
    padding-top: 1px;
    margin-top: 40px;
}